# file type
*.pyc
*.phy

#Mascaret Plugin folder
Mascaret/mascaret/*
Mascaret/mascaret_*/*
Mascaret/bin/*
Mascaret/bin
#Mascaret Plugin file
Mascaret/settings.json
Mascaret/icones/Thumbs.db

#.idea
Mascaret/.idea/*
.idea/*

